@{
    Layout = null;
}
@using ProjectUni.Models


<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/logo - Copy.jpeg" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">


    <!--About Us Page-->
    <!-- Header -->
    @Html.Partial("Header")
    <!-- End Header -->
    <!-- About Us Content -->
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../images/Copy.jpg');margin:70px 70px 30px 70px;" ">
        <h2 class="ltext-105 cl0 txt-center" style="padding-right: 35px; text-align: right; color: white;">
            من نحن؟
        </h2>
    </section>

    <section class="bg0 p-t-75 p-b-120" style="direction:rtl;">
        <div class="container">
            <div class="row p-b-148">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">
                            <b> قصتنا</b>
                        </h3>

                        <p class="stext-113 cl6 p-b-26" style="font-size:18px;color:black;">
                            نعرّفكم بأنفسنا، نحن تمارا حسين وسارة جادالله مطوّرين موقع SBSD. ندرس في جامعة آل البيت ونقّدم مشروعنا هذا لإتمام متطلبات التخرج.

                        </p>

                        <p class="stext-113 cl6 p-b-26" style="font-size:18px;color:black;">
                            عملنا على إيجاد موضوع مميز ولم يتكرر بكثرة ويخدم أكبر قدر ممكن من المجتمع لنصل في نهاية المطاف إلى موضوع الملابس المستخدمة. حيث نجد الكثير
                            من الأشخاص الذين يرغبون بالتجديد المستمر لملابسهم عن طريق التخلص منها واقتناء غيرها. لذا قررنا أن نساعد هذه الفئة من خلال توفير منصة ليستثمروا من خلالها
                            عن طريق عرض ملابسهم للبيع والاستثمار من خلالها. وفي المقابل سيقوم كلّ من عرض ملابسه للبيع بشراء ملابس غيره لتكتمل العملية التجارية.
                            من هذه الخطوة بدأنا بتطوير الفكرة لتشتمل على تبديل الملابس بين المستخدمين, حيث يتخلص الشخص من ملابسه القديمة ويحصل على غيرها دون أي تكاليف مالية.
                            أمّا الخطوة التالية فكانت للأشخاص الأقل دخلاً والأكثر حاجةً في المجتمع، حيث عقدنا إتفاقيّة مع فريق سمايل كود ليستلم منّا مجموعة من الملابس المراد التبرع بها،
                            وذلك بعد أن أخذنا موافقة البائعين بالتبرع بملابسهم المعروضة للبيع في حال مرّ عليها مدة أربعة أشهر ولم يتم بيعها، إضافة لتوفير خاصيّة التبرع المباشر بالملابس.
                        </p>

                        <p class="stext-113 cl6 p-b-26" style="font-size:18px;color:black;">
                            هل لديك أي إستفسار أو إقتراح؟ أخبرنا من خلال إرسال رسالة على البريد الإلكتروني التالي:
                            <a href="mailto:sbsd9720@gmail.com"><u><b>sbsd9720@gmail.com</b></u></a>
                        </p>
                    </div>
                </div>

                <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                    <div class="how-bor1 ">
                        <div class="hov-img0">
                            <img src="../images/pexels-photo-934070.jpeg" alt="IMG" style="height:550px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">
                            <b>رؤيتنا</b>
                        </h3>


                        <p class="stext-113 cl6 p-b-26" style="font-size:18px;color:black;">
                            نرى في مشروع SBSD الريادة والإبتكار،
                            ونطمح للإستمرار في مشروع الإستفادة والإفادة،
                            فبعد أن بدأنا بعمليات البيع والشراء والتبديل والتبرع
                            قمنا بوضع خطط مستقبلية للعمل على توفير فرص عمل لأكبر عدد ممكن من الناس.
                            ومن أبرز هذه الخطط توفير خدمة غسيل الملابس قبل استلامها من خلال التواصل مع إحدى محطات غسيل الملابس.
                            <br />
                            فالعمل المستمر هو سر النجاح، والعطاء هو سر السموّ والرِفعة.
                        </p>
                    </div>
                </div>

                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img src="../images/pexels-photo-934063.jpeg" alt="IMG">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Content -->
    <!-- Start Footer -->
    @Html.Partial("Footer")
    <!-- End footer -->
    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn" style="background-color:#D8D8DA;">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/slick/slick.min.js"></script>
    <script src="~/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/parallax100/parallax100.js"></script>
    <script>
        $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $('.gallery-lb').each(function () { // the containers for all your galleries
            $(this).magnificPopup({
                delegate: 'a', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $('.js-addwish-b2').on('click', function (e) {
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function () {
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        /*---------------------------------------------*/

        $('.js-addcart-detail').each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

    </script>
    <!--===============================================================================================-->
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>


</body>
</html>

